.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 24px;
    box-shadow: 0 2px 8px #f0f1f2;
      position: sticky;
      top: 0;
      z-index: 1;
  >
    .logo {
      margin-top: 15px;
      font-size: 24px;
      font-weight: bold;
    } 
    .menu {
      display: flex;
      align-items: center;
      background: none;
      border-bottom: none;
  
      .ant-menu-item {
        padding: 0 20px;
        display: flex;
        align-items: center;
      }

    }
  }
  